@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:700,900');
@import url('https://fonts.googleapis.com/css?family=Teko:600,700');

@import 'variables';
@import 'layout';

#front-page {
    background-size: cover;
}


.brand {
    $self: &;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 8.0);
    padding: 20px 40px 35px;
    margin-bottom: 70px;
    transform: translateZ(4em);
    &--about {
        display: inline-block;
        padding: 0 40px 35px;
    }
    &__heading {
        font-family: 'Roboto', san-serif;
        font-size: 17.5vw;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1em;
        margin-bottom: 0px;

        #{$self}--about & {
            text-transform: uppercase;
            font-family: 'Roboto Condensed', san-serif;
            font-weight: 700;
            font-size: 18vw;
            text-transform: uppercase;
            line-height: 1em;
            white-space: nowrap;
        }
        @media (min-width: 768px ) {
            #{$self}--about & {
                font-size: 138.24px;
            }
        }
    }

    &__subheading {
        font-family: 'Roboto Condensed', san-serif;
        font-weight: 700;
        color: #0c0c0c;
        text-transform: uppercase;
        line-height: 1em;
        font-size: 10.5vw;
        &--wrapper {
            background-color: white;
            padding: 0;
        }
        #{$self}--about & {
            font-family: 'Roboto Condensed', san-serif;
            font-weight: 700;
            color: #0c0c0c;
            text-transform: uppercase;
            line-height: 1em;
            font-size: 10.5vw; 
        }
        @media (min-width: 768px ) {
            #{$self}--about & {
                font-size: 80.64px;
            }
        }
    }
}

.mid-header {
    font-family: 'Roboto Condensed', san-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 7vw;
    padding-bottom: 110px;
}


    
a.navlink {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    svg {
        display: block;
        pointer-events: none;
        &.nav-arrow {
            width: 100%;
            height: auto;
        }
        &.nav-icon {
            position: absolute;
            width: auto;
            z-index: 10;
        }
    }
    &:hover {
        svg.nav-arrow {
            path.arrow {
                fill: #569CD6;
            }
            path.box {
                fill: #B5CEA8; //#D7BA5E;
            }
        }
        svg.nav-icon {
            path, polygon {
                fill: #B5CEA8;
            }
        }
    }
}


.nav {
    width: 6%;
    &.east {
        svg.nav-icon {
            top: 11%;
            left: 7%;
            height: 77%;
        }
    }
    &.west {
        svg.nav-arrow {
            transform: rotate(180deg);
        }
        svg.nav-icon {
            top: 11%;
            right: 7%;
            height: 77%;
        }
    }
    &.south {
        svg.nav-arrow {
            transform: rotate(90deg);
        }
        svg.nav-icon {
            width: 47%;
            height: 75%;
            top: -24%;
            left: 26%;
        }
    }
}
// .tech-item img {
//     -webkit-transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.720); 
//     -moz-transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.720); 
//       -o-transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.720); 
//          transition: all 500ms cubic-bezier(1.000, 0.005, 1.000, 0.720); 
// }
// .tech-item.hidden img {
//     opacity: 0;
// }

// .technologies .tech-item.hidden:nth-child(1) img { transform:translateX(-300px) translateY(-200px); }

.profile {
    max-width: 26vw;
    margin: 0 auto;
}
.profile__img {
    border-radius: 50%;
    max-width: 200px;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}

.technologies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 auto;
    align-items: center;
    max-width:70%;
    margin: 0 auto;

}
.tech-item {
    width: 14%;
    padding: 0 2em;
    margin-bottom: 3%;
}
.tech-item img {
    width: 100%;
    height: auto;
}

.bio {
    margin: 2.2em auto 0;
    max-width: 65%;
    min-height: 480px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255,255,255,0.25);
    padding: 1em;
    &__body {
        text-align: left;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1.5;
        br {
            line-height: 2.3;
        }
    }
}


// helpers
.condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

@media (min-width: 991px) {
    .brand__heading {
        font-size: 173.42px;
        &--about {
            font-size: 178.38px;
        }
    }
    .brand__subheading {
        font-size: 104.05px;
        &--about {
            font-size: 104.05px;
        }
    }
    .mid-header { font-size: 69.37px; }
    .page__front { padding: 49.54px 2%; }  
}

@media (min-width: 768px ) {
    .profile { max-width: 200px; }
}